.logo {
    width: 5px;
    height: 35px;
    position: relative;
}
.letter-L {
    width: 10px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    background-color: blue; /* Change color as needed */
    position: relative;
}
.horizontal-bar-bottom {
    width: 100%;
    height: 50px; /* Adjust thickness as needed */
    background-color: blue; /* Change color as needed */
    position: absolute;
    left: 0;
    bottom: 0;
}
.vertical-bar {
    width: 5px; /* Adjust thickness as needed */
    height: 50px;
    background-color: blue; /* Change color as needed */
    position: absolute;
    left: 0;
    top: 0;
}
.horizontal-bar {
    width: 50px;
    height: 200px; /* Adjust thickness as needed */
    background-color: blue; /* Change color as needed */
    position: absolute;
    left: 0;
    bottom: 0;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid blue;
    position: absolute;
    left: 12px;
    top: 0;
}
.vertical-bar-2 {
    width: 30px;
    height: 10px;
    background-color: blue;
    position: absolute;
    bottom: -5px;
    right: -35px; /* Adjust the position */
}
